# NPM dependencies
node_modules
package-lock.json

# Misc
assets/js/dist

# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
